h1 {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 800;
}

h2 {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 600;
}

h4 {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 400;
}

p {
  font-size: x-small;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 400;
}

.payment-container {
  position: relative;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #635bff;
  height: 100%;
}

.payment-form {
  /* border: 5px solid #fff; */
  height: 350px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.payment-svg-top {
  position: absolute;
  left: 82%;
  top: 0%;
}

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

img {
  width: 180px;
  height: 120px;
}

a {
  background-color: rgb(0 72 229) !important;
}


form.checkout {
  text-align: center;
  border: 2px solid #eee;
  border-radius: 8px;
  padding: 1rem 2rem;
  background: white;
  font-family: monospace;
  color: #525252;
  font-size: 1.1rem;
  width: 500px;
}

form.checkout button {
  padding: 0.5rem 1rem;
  color: white;
  background: coral;
  border: none;
  border-radius: 4px;
  margin-top: 1rem;
}

form.checkout button:active {
  background: rgb(165, 76, 43);
}
