<div class="home-container">
  <svg
    class="home-svg-top"
    viewBox="0 0 168 108"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    style="width: 218px; height: 140px"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M0 89.3565V48.4629L228 0V40.8936L0 89.3565Z"
      fill="#80e9ff"
    ></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M67 107.115V66.2216L228 32V72.8936L67 107.115Z"
      fill="#7a73ff"
    ></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M228 40.8936V32L67 66.2216V75.1152L228 40.8936Z"
      fill="#0048e5"
    ></path>
  </svg>
  <h1>Welcome!</h1>
  <div class="home-form">
    <div class="d-grid gap-2">
      <!-- <a
        routerLink="/payment"
        style="background-color: rgb(161, 197, 197)"
        class="btn btn-primary"
        type="button"
      >
        Please click here to proceed to payment (checkout method)
      </a>
      <a
        routerLink="/elt-payment"
        style="background-color: rgb(161, 197, 197)"
        class="btn btn-primary"
        type="button"
      >
        Please click here to proceed to payment (element popup method)
      </a>
      <a
        routerLink="/element"
        style="background-color: rgb(161, 197, 197)"
        class="btn btn-primary"
        type="button"
      >
        Please click here to proceed to payment (element method)
      </a> -->
      <a
        routerLink="/ngx-stripe"
        style="background-color: rgb(161, 197, 197)"
        class="btn btn-primary"
        type="button"
      >
        Please click here to proceed to payment (ngx stripe)
      </a>
      <a
        routerLink="/silver-pack"
        style="background-color: #d9d8d6"
        class="btn btn-primary"
        type="button"
      >
        Silver pack
      </a>
      <a
        routerLink="/gold-pack"
        style="background-color: #f4cd2a"
        class="btn btn-primary"
        type="button"
      >
        Golden pack
      </a>
      <a
        routerLink="/platinium-pack"
        style="background-color: #adf0d3"
        class="btn btn-primary"
        type="button"
      >
        Platinium pack
      </a>
    </div>
  </div>
</div>
