h1 {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 800;
}

.home-container {
  position: relative;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #635bff;
  height: 100%;
}

.home-form {
  /* border: 5px solid #fff; */
  height: 350px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.home-svg-top {
  position: absolute;
  left: 82%;
  top: 0%;
}
