<div class="failure-container">
  <svg
    class="failure-svg-top"
    viewBox="0 0 168 108"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    style="width: 218px; height: 140px"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M0 89.3565V48.4629L228 0V40.8936L0 89.3565Z"
      fill="#80e9ff"
    ></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M67 107.115V66.2216L228 32V72.8936L67 107.115Z"
      fill="#7a73ff"
    ></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M228 40.8936V32L67 66.2216V75.1152L228 40.8936Z"
      fill="#0048e5"
    ></path>
  </svg>
  <h1>There was an error during the payment process</h1>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    x="0px"
    y="0px"
    width="100"
    height="100"
    viewBox="0 0 40 40"
  >
    <path
      fill="#f78f8f"
      d="M20,38.5C9.799,38.5,1.5,30.201,1.5,20S9.799,1.5,20,1.5S38.5,9.799,38.5,20S30.201,38.5,20,38.5z"
    ></path>
    <path
      fill="#c74343"
      d="M20,2c9.925,0,18,8.075,18,18s-8.075,18-18,18S2,29.925,2,20S10.075,2,20,2 M20,1 C9.507,1,1,9.507,1,20s8.507,19,19,19s19-8.507,19-19S30.493,1,20,1L20,1z"
    ></path>
    <path
      fill="#fff"
      d="M18.5 10H21.5V30H18.5z"
      transform="rotate(-134.999 20 20)"
    ></path>
    <path
      fill="#fff"
      d="M18.5 10H21.5V30H18.5z"
      transform="rotate(-45.001 20 20)"
    ></path>
  </svg>
  <div class="d-grid gap-2">
    <a
      routerLink="/home"
      style="background-color: rgb(161, 197, 197)"
      class="btn btn-primary"
      type="button"
    >
      Go back to home
    </a>
  </div>
</div>
