h1 {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 800;
}

p {
  font-size: x-small;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 400;
}

.success-container {
  position: relative;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #635bff;
  height: 100%;
}


.success-svg-top {
  position: absolute;
  left: 82%;
  top: 0%;
}

.success-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

img {
  width: 180px;
  height: 120px;
}
