<div class="success-container">
  <svg
    class="success-svg-top"
    viewBox="0 0 168 108"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    style="width: 218px; height: 140px"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M0 89.3565V48.4629L228 0V40.8936L0 89.3565Z"
      fill="#80e9ff"
    ></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M67 107.115V66.2216L228 32V72.8936L67 107.115Z"
      fill="#7a73ff"
    ></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M228 40.8936V32L67 66.2216V75.1152L228 40.8936Z"
      fill="#0048e5"
    ></path>
  </svg>
  <h1>Your payment has been proceeded successfully</h1>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    x="0px"
    y="0px"
    width="100"
    height="100"
    viewBox="0 0 48 48"
  >
    <polyline
      fill="none"
      stroke="#42a047"
      stroke-miterlimit="10"
      stroke-width="4"
      points="6,27.5 17,38.5 42,13.5"
    ></polyline>
  </svg>
  <div class="d-grid gap-2">
    <a
      routerLink="/home"
      style="background-color: rgb(161, 197, 197)"
      class="btn btn-primary"
      type="button"
    >
      Go back to home
    </a>
  </div>
</div>
