h1 {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 800;
}

h2 {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 600;
}

h4 {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 400;
}

p {
  font-size: x-small;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 400;
}

.ngx-stripe-container {
  position: relative;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #adf0d3;
  height: 100%;
}

.ngx-stripe-form {
  /* border: 5px solid #fff; */
  height: 350px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.ngx-stripe-svg-top {
  position: absolute;
  left: 82%;
  top: 0%;
}

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

img {
  width: 180px;
  height: 120px;
}

a {
  background-color: rgb(0 72 229) !important;
}
