<div class="elt-payment-container">
  <svg
    class="elt-payment-svg-top"
    viewBox="0 0 168 108"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    style="width: 218px; height: 140px"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M0 89.3565V48.4629L228 0V40.8936L0 89.3565Z"
      fill="#80e9ff"
    ></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M67 107.115V66.2216L228 32V72.8936L67 107.115Z"
      fill="#7a73ff"
    ></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M228 40.8936V32L67 66.2216V75.1152L228 40.8936Z"
      fill="#0048e5"
    ></path>
  </svg>
  <h1>This is a secured payment interface (element payment)</h1>
  <div class="elt-payment-form">
    <div class="d-grid gap-2">
      <button (click)="makePayment(15)" class="btn btn-danger btn-block">
        Pay €15
      </button>
    </div>
    <div class="d-grid gap-2">
      <button (click)="makePayment(25)" class="btn btn-primary btn-block">
        Pay €25
      </button>
    </div>
    <div class="d-grid gap-2">
      <button (click)="makePayment(35)" class="btn btn-success btn-block">
        Pay €35
      </button>
    </div>
  </div>
  <div class="d-grid gap-2">
    <a
      routerLink="/home"
      style="background-color: rgb(161, 197, 197)"
      class="btn btn-primary"
      type="button"
    >
      Go back to home
    </a>
  </div>
</div>
